In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('digit_data/train.csv')
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
test = pd.read_csv('digit_data/test.csv')
test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
y_train = train['label']
train = train.drop('label', axis=1)

train = np.array(train)
X_train = train.reshape(train.shape[0], 28, 28)
X_test = np.array(test)

X_train = X_train.reshape(X_train.shape[0], 28, 28,1)
X_test = X_test.reshape(X_test.shape[0], 28, 28,1)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)

(42000, 28, 28, 1)
(42000,)
(28000, 28, 28, 1)

In [5]:
X_train.min(), X_train.max()

(0, 255)

In [6]:
X_test.min(), X_train.max()

(0, 255)

In [7]:
X_train = X_train.astype('float64')/255
X_test = X_test.astype('float64')/255

In [8]:
assert ((X_train.min(),X_train.max()) == (0.0,1.0))
assert ((X_test.min(),X_test.max()) == (0.0,1.0))

In [9]:
model = tf.keras.Sequential([
    tf.keras.layers.Conv2D(32, (3, 3), activation='relu', padding='same', input_shape=(28,28,1)),
    tf.keras.layers.MaxPooling2D((2, 2)),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Conv2D(64, (5, 5), padding='same', activation='relu'),
    tf.keras.layers.MaxPooling2D((2, 2)),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Conv2D(64, (3, 3), padding='same', activation='relu'),
    tf.keras.layers.Flatten(input_shape=(28,28)),
    tf.keras.layers.Dense(128, activation="relu"),
    tf.keras.layers.Dense(10) #10 is the number of classes
])

model.compile(optimizer='adam',
        loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True,reduction='auto'),
        metrics=['accuracy'])

model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 28, 28, 32)        320
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 14, 14, 32)        0
_________________________________________________________________
dropout (Dropout)            (None, 14, 14, 32)        0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 14, 14, 64)        51264
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 7, 7, 64)          0
_________________________________________________________________
dropout_1 (Dropout)          (None, 7, 7, 64)          0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 7, 7, 64)          36928
_________________________________________________________________
flatten (Flatten)            (None, 3136)              0
_________________________________________________________________
dense (Dense)                (None, 128)               401536
_________________________________________________________________
dense_1 (Dense)              (None, 10)                1290
=================================================================
Total params: 491,338
Trainable params: 491,338
Non-trainable params: 0
_________________________________________________________________

In [10]:
history = model.fit(X_train, y_train, epochs=10)

Epoch 1/10
1313/1313 [==============================] - 92s 69ms/step - loss: 0.1546 - accuracy: 0.9505
Epoch 2/10
1313/1313 [==============================] - 90s 68ms/step - loss: 0.0513 - accuracy: 0.9841
Epoch 3/10
1313/1313 [==============================] - 94s 72ms/step - loss: 0.0371 - accuracy: 0.9883
Epoch 4/10
1313/1313 [==============================] - 90s 69ms/step - loss: 0.0287 - accuracy: 0.9908
Epoch 5/10
1313/1313 [==============================] - 90s 69ms/step - loss: 0.0255 - accuracy: 0.9918
Epoch 6/10
1313/1313 [==============================] - 90s 69ms/step - loss: 0.0224 - accuracy: 0.9927
Epoch 7/10
1313/1313 [==============================] - 90s 69ms/step - loss: 0.0168 - accuracy: 0.9941
Epoch 8/10
1313/1313 [==============================] - 94s 71ms/step - loss: 0.0175 - accuracy: 0.9940
Epoch 9/10
1313/1313 [==============================] - 90s 69ms/step - loss: 0.0146 - accuracy: 0.9952
Epoch 10/10
1313/1313 [==============================] - 92s 70ms/step - loss: 0.0146 - accuracy: 0.9954

In [11]:
predictions = np.argmax(model.predict(X_test), axis=1)

In [12]:
submission = pd.read_csv('digit_data/sample_submission.csv')
print(submission.shape)
submission.head()

(28000, 2)

   ImageId  Label
0        1      0
1        2      0
2        3      0
3        4      0
4        5      0

In [13]:
submission['Label']  = predictions
submission.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3

In [14]:
print(submission.shape)

(28000, 2)

In [15]:
submission.to_csv('jhellmers_submission.csv',index=False)